<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
<title>Blog Archive</title>
<link rel="stylesheet" href="/style.css" type="text/css" media="screen, handheld" title="default">
</head>

<body>
<h1 id="title">John Floren</h1>
<div id="hnav">
<a href="/">Home</a> | <a href="/b/">Blog</a>
</div>

<div id="content">
<h2>Blog Archive</h2>
{{range .Years}}<h3>{{.Year}}</h3>
<ul>
{{range .Posts}}<li><b>{{.Date}}</b> - <a href="{{.Path}}">{{.Title}}</a><br>{{end}}
</ul>{{end}}
</div>
</body>

</html>
